* {
  margin: 0;
}

body {
  background: linear-gradient(90deg, rgb(15, 134, 134), rgb(209, 97, 149));
  height: 100vh;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tetris {
  background-color: rgb(12, 77, 77);
  padding: 0.5vh;
  border-radius: 0.5vh;
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(20, auto);
}

.tetris div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: rgba(70, 42, 42, 0.2);
  border-radius: 0.3vh;
  box-shadow: inset 2px 2px 2px rgba(129, 123, 123, 0.2),
    inset -2px -2px 2px rgba(51, 48, 48, 0.2);
}
.score {
  font-family: Arial;
  font-size: 30px;
  text-align: right;
}

.tetris .O {
  background: rgb(10, 197, 88);
}

.tetris .L {
  background: rgb(224, 221, 13);
}

.tetris .J {
  background: rgb(224, 73, 13);
}

.tetris .S {
  background: rgb(224, 13, 143);
}

.tetris .Z {
  background: rgb(13, 224, 161);
}

.tetris .T {
  background: rgb(241, 5, 5);
}

.tetris .I {
  background: rgb(179, 6, 202);
}
